[Desktop Entry]
Name=GUITesting
Comment=Testing GUI from desktop
Exec=/home/emugators/Documents/emugators2.0/GUITesting/GUITesting
Icon=/home/emugators/Documents/ROMS/Nintendo-Famicom-Disk-System.png
Terminal=false
Type=Application
Categories=Utility
